<p> 
    <a href="{% url 'PizzaApp:index'%}">Pizzeria</a></p> 
    <p>Select your Pizza <p></p>
    <p><a href="{% url 'PizzaApp:topics'%}">Pizzas</a></p>
    <p><a href="{% url 'PizzaApp:topins'%}">Topins</a></p>
<p>
    {% if user.is_authenticated %}
        Hello ,{{user.username}}
        <a href="{% url 'users:logout' %}">Log out</a>
        
    {% else %}
        <a href="{% url 'users:login' %}">Log in</a>
        <a href="{% url 'users:register' %}">Register</a>
        

    {% endif %}

<p>


{% block content %}

  
{% endblock content %}
