{% extends "PizzaApp/base.html" %}
<p>
    <a href="{% url 'PizzaApp:index'%}">Pizzeria</a></p>

{% block content %}


<p> Topins
</p>

<ul>
    {% for t in topins %}
    <li style="display:grid;">
        <a href="{%url 'PizzaApp:topin' t.id %}">{{ t }}</a>
        {% if t.image %}
        <img src="{{ t.image.url }}" class="img-responsive" style="width: 200px; float: left; margin-right: 10px;"/>
        {% endif %}
    </li>
    {% empty %}
    <li> No topins added yet</li>
    {% endfor %}
</ul>

<a href="{% url 'PizzaApp:new_topin' %}"> Add a new Topin</a>

{% endblock content %}
