{% extends "PizzaApp/base.html" %}
<p> 
    <a href="{% url 'PizzaApp:index'%}">Pizzeria</a></p> 

{% block content %}


<p> Pizzas
</p>

<ul>
    {% for t in topics %}
    <li style="display:grid;">
         <a href="{%url 'PizzaApp:topic' t.id %}">{{ t }}</a>
         {% if t.image %}
                <img src="{{ t.image.url }}" class="img-responsive" style="width: 200px; float: left; margin-right: 10px;"/>
            {% endif %}
        </li>
    {% empty %}
    <li> No Pizza added yet</li>
    {% endfor %}
</ul>

<a href="{% url 'PizzaApp:new_topic' %}"> Add a new Pizza</a>

{% endblock content %}
